#jinja2:lstrip_blocks: True
{ "url": "{{ url }}",
  "payload":
  {
    "infraAttEntityP": {
        "attributes": {
            "dn": "{{ aaep_dn }}"
        },
        "children": [
            {
                "infraGeneric": {
                    "attributes": {
                        "name": "default"
                    },
                    "children": [
                       {% for epg in epgs %}
                         {
                           "infraRsFuncToEpg": {
                               "attributes": {
                                   "encap": "{{ epg.encap }}",
                                   "mode": "{{ epg.mode | default('regular') }}",
                                   "tDn": "{{ epg.tDn }}",
                                   "status": "created"
                                }
                            }
                         }{% if not loop.last %},{% endif %}
                       {% endfor %}
                     ]
                 }
             }
         ]
     }
  }
}
